{% extends "base.html" %}
{% block title %} All Call {% endblock %}
{% block includes %}
	<link href="static/jquery/tablesorter/themes/blue/style.css" rel="stylesheet">
	<script src="static/jquery/tablesorter/jquery.tablesorter.js"></script>
	<script src="static/customer_select.js"></script>
{% endblock %}
{% block onload %} onload() {% endblock %}
{% block body %}
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h4>
				Details...
			</h4>
			<div class="clearfix"></div>
		</div>
		<div class="container">
			<h4>AllCall Message:</h4>
			<blockquote>
				{{ message }}
			</blockquote>
			<h4>Number of Access Points selected:  {{ aps|length }}</h4>
			<br>
			<h4>
				Number of Customers selected:
				<span id="num_customers">
					{{ num_customers }}
				</span>
			</h4>
			<br>
		</div>
	</div>
	<div class="panel panel-primary">
		<div class="panel-heading">
			<div class="btn-group pull-right">
				<button type="button" class="btn btn-success btn-md" data-toggle="modal" data-target="#confirm_box"> Submit Request</button>
			</div>
			<h4>
				Final Customer Review...
			</h4>
			<div class="clearfix"></div>
		</div>
		{% if aps %}
			<table id="customer_equips" class="tablesorter table">
				<thead>
					<tr>
						<th>Selection</th>
						<th>Access Point Name</th>
						<th>Company/Full Name</th>
						<th>Phone Number</th>
						<th>Number Type</th>
					</tr>
				</thead>
				<tbody>
				{% for ap_equip in aps %}
					{% for customer_equip in ap_equip.get_children() %}
					<tr>
							<td><button id="cust_{{ customer_equip.end_user.CustomerID }}" onclick="toggle_customer(this.id)" type="button" class="btn btn-danger" style="width:5em" >Remove</button></td>
							<td>{{ ap_equip.Name }}</td>
							<td>{{ customer_equip.end_user.CompanyName }}</td>
							{% if customer_equip.end_user.get_first_number() %}
								<td>{{ customer_equip.end_user.get_first_number().Number }}</td>
								<td>{{ customer_equip.end_user.get_first_number().Type }}</td>
							{% else %}
								<td class="warning"> N/A </td>
								<td class="warning"> N/A </td>
							{% endif %}
						</tr>
					{% endfor %}
				{% endfor %}
				</tbody>
			</table>
		{% else %}
			Did not find any Customers!
		{% endif %}
		<div class="panel-heading">
			<div class="btn-group pull-right">
				<button type="button" class="btn btn-success btn-md" data-toggle="modal" data-target="#confirm_box"> Submit Request</button>
			</div>
			<div class="clearfix"></div>
		</div>
		<form id="customer_form" action="exec_allcall" method="POST">
			<input id="selected_custs" type="hidden" name="selected_custs" value="">
			<input id="selected_message" type="hidden" name="selected_message" value="{{ message }}">
		</form>
	</div>

	<div class="modal fade" id="confirm_box" aria-hidden="true">
		<div class="modal-dialog modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" >Please Confirm</h4>
			</div>
			<div class="modal-body">
				Once you submit an AllCall request, you cannot cancel or change it!
				<br>
				Are you sure you want to continue?
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary" onclick="launch_allcall()">Submit</button>
			</div>
		</div>
	</div>
{% endblock %}
